.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content .left-container {
    width: 872px;
    height: 528px;
}

.main-content .right-container {
    width: 295px;
    height: 528px;
}

.main-content .match-center .match-news {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.main-content .match-center .match-news .left-content {
    width: 211px;
    height: 260px;
}

.main-content .match-center .match-news .left-content a {
    display: block;
}

.main-content .match-center .match-news .left-content a img {
    width: 100%;
}

.main-content .match-center .match-news .right-content {
    flex: 1;
    padding: 0 13px 0 19px;
    overflow: hidden;
}

.main-content .match-center .match-news .right-content .headline {
    display: block;
    height: 66px;
    line-height: 32px;
}

.main-content .match-center .match-news .right-content .headline .title {
    font-size: 24px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content .match-center .match-news .right-content .headline .title:hover {
    text-decoration: underline;
}

.main-content .match-center .match-news .right-content .headline .intro {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content .match-news .match-news-list .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    font-size: 12px;
    color: #b8b9c5;
}

.main-content .match-news .match-news-list .item a {
    flex: 1;
    padding-right: 20px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.main-content .match-news .match-news-list .item a:hover {
    text-decoration: underline;
}

.main-content .right-container .new-hero {
    margin-bottom: 10px;
}

.main-content .right-container .new-hero a {
    display: block;
}

.main-content .right-container .new-hero a img {
    width: 100%;
}

.main-content .right-container .new-hero .hero-bottom {
    padding: 10px 15px;
    font-size: 12px;
    color: #999;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.main-content .right-container .new-hero .hero-bottom .title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}


.main-content .right-container .hero-list {
    display: flex;
    justify-content: space-between;
}

.main-content .right-container .hero-list .item a {
    position: relative;
    display: block;
    width: 68px;
    border-radius: 2px;
}

.main-content .right-container .hero-list .item .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3c258;
    writing-mode: vertical-rl;
    background: rgba(0, 0, 0, .88);
}

.main-content .right-container .hero-list .item .mask:hover {
    animation: maskShowAnim .3s linear forwards;
}

@keyframes maskShowAnim {
    from {
        /* display: none; */
        opacity: 0;
    }

    to {
        /* display: block; */
        opacity: 1;
    }
}