@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;

}

body {
    font: 14px/1.5 "Microsoft YaHei", Tahoma, "simsun", sans-serif;
    color: #b8b9c5;
    background-color: #fff;
}

ul,
ol,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

img {
    vertical-align: top;
}